# Build artifacts
.next
.contentlayer
.out
.vercel
node_modules
# OS/editor
.DS_Store
Thumbs.db
*.log
# Local junk
LLMSwitch.jpg
SwitchLLM Morph.jpg
pattern.jpg
e5ea397a-a9b3-4629-aab2-b4a45c115e20.jpeg
